<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список отделов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Список отделов</h1>
        <a href="{% url 'department_product_list' %}" class="btn btn-secondary">Вернуться на главную</a>
        <a href="{% url 'department_create' %}" class="btn btn-primary">Добавить отдел</a>
        <ul class="list-group mt-3">
            {% for department in departments %}
                <li class="list-group-item">
                    {{ department.name }}: {{ department.description }}
                    <a href="{% url 'product_list' department.id %}" class="btn btn-info btn-sm float-right">Товары</a>
                    <a href="{% url 'product_create' department.id %}" class="btn btn-success btn-sm float-right mr-2">Добавить товары</a>
                    <a href="{% url 'department_update' department.id %}" class="btn btn-warning btn-sm float-right mr-2">Редактировать</a>
                    <form action="{% url 'department_delete' department.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm float-right mr-2">Удалить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>